<main class="login-container">
  <div class="video-column">
    <div class="video-container">
      <iframe 
        width="100%" 
        height="100%" 
        src="https://www.youtube.com/embed/7pCmRmgqDDE?autoplay=1&&controls=1&loop=1&playlist=7pCmRmgqDDE&showinfo=0&rel=0&modestbranding=1" 
        title="READY SET FORD"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
      <div class="video-overlay"></div>
    </div>
  </div>

  <div class="form-column">
    <img src="img/ford.png" alt="Logo Ford" class="ford-logo">
    
    <h2>Boas-vindas</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input 
          type="text" 
          placeholder="Insira seu e-mail" 
          [(ngModel)]="username" 
          name="username" 
          required
        >
      </div>

      <!-- APENAS UMA DIV password-group -->
      <div class="input-group password-group">
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          placeholder="Insira sua senha" 
          [(ngModel)]="password" 
          name="password" 
          required
        >
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i class="fas" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
        </span>
      </div>

      <div class="auto-login-toggle">
        <label>Logar automaticamente</label>
        <input type="checkbox" [(ngModel)]="autoLogin" name="autoLogin">
      </div>

      <button type="submit" class="btn-login">
        Entrar
      </button>
    </form>

    <a routerLink="/register" class="create-account">
      Criar nova conta
    </a>
    
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</main>