html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box; 
}

app-root {
    display: block; 
    height: 100%;
}

app-login { 
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login-container {
    display: flex;
    height: 100%;
}

.form-column {
    width: 450px; 
}