<main class="home-container">
    <div class="navbar">
        <img src="img/ford.png" alt="Logo Ford" class="ford-logo-home">
        
        <nav>
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </nav>
        
        <button class="btn-logout" (click)="logout()">
            Sair
        </button>
    </div>

    <div class="content-overlay">
        <div class="welcome-card">
            <h1>Sistema de Gestão FORD</h1>
            <p>Olá, admin! Seja bem-vindo(a)!</p>
        </div>
    </div>
</main>